
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "ArticulatCF-DemiBold";
    src: url(fonts/ArticulatCF-DemiBold.otf) format("opentype");
}
@font-face {
    font-family: "ArticulatCF-Medium";
    src: url(fonts/ArticulatCF-Medium.otf) format("opentype");
}

.hero{
    background: linear-gradient(#00000033, #00000033), url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    gap: 399px;
}
.logo{
    width: 170px;
    height: 22px;
}
.navbar{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
   
}
.nav-menu-container{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #38332E;
}
.nav-menu{
    display: flex;
    gap: 21px;
    align-items: center;
    list-style: none;
     background-color: #ffffff; 
     padding: 12px 27px ;
     border-radius: 30px;
}
.nav-menu li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.lang-btn{
    display: flex;
    gap: 10px;
     background-color: #ffffff;
     padding: 13px 21px;
     border-radius: 30px;
     
}
.lang-btn button{
    background-color: transparent;
    border: none;
}
.sk{
     cursor: pointer;
}
.en{
font-family: "Manrope";
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 135%;
text-transform: uppercase;
color: #CED2BB;
 cursor: pointer;
}

.hero-content{
    justify-self: center;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin-bottom: 150px;
}
.hero-title{
    color: #E7FD83;
    max-width: 368px;
    font-family: "ArticulatCF-DemiBold", sans-serif;
font-weight: 600;
font-size: 60px;
line-height: 110.00000000000001%;
}
.hero-details{
    display: grid;
    gap: 45px;
    max-width: 400px;
}
.hero-para{
font-weight: 500;
font-size: 16px;
line-height: 135%;
letter-spacing: 0%;
color: #FFFFFF;
}
.hero-btn{
    display: flex;
    align-items: center;
    gap: 45px;
}
.yellow-btn{
font-weight: 600;
font-size: 15px;
line-height: 140%;
letter-spacing: 0%;
text-transform: uppercase;
color: #38332E;
padding-bottom: 14.5px;
padding-top: 14.5px;
padding-left: 25px;
padding-right: 30px;
background-color: #E7FD83;
border-radius: 30px;
border: none;
 cursor: pointer;
}
.white-btn{
font-weight: 600;
font-size: 15px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
background: transparent;
border: none;
border-bottom: 1px solid #FFFFFF;
display: flex;
gap: 5px;
align-items: center;
 cursor: pointer;
}