@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-manrope: "Manrope", sans-serif;
    --font-articulate: "Articulate_CF", sans-serif;
    --font-articulate-md: "Articulate-CF-medium", sans-serif;
    --font-base-weight: 400;
    --font-secondary-weight: 500;
    --font-base-size: 14px;
    --font-secondary-size: 15px;
    --font-third-size: 16px;
    --font-large-size: 60px;
    --font-base-line-height: 120%;
    --font-secondary-line-height: 135%;
    --base-bg-color: #F5F3ED;
    --primary-bg-color: #A5C4FF;
    --secondary-bg-color: #1D4933;
    --font-base-color: #E7FD83;
    --font-primary-color: #1D4933;
    --font-secondary-color: #CED2BB;
    --font-root-color: #38332E;
}

@font-face {
    font-family: "Articulate_CF", sans-serif;
    src: url('fonts/ArticulatCF-DemiBold.otf') format(opentype);
}
@font-face {
    font-family: "Articulate-CF-medium", sans-serif;
    src: url('fonts/ArticulatCF-Medium.otf') format(opentype);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Header */
header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 3;
}

.logo-wrapper {
    position: relative;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.logo-wrapper img {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    transition: opacity 0.35s ease;
    height: 22.43px;
}

.logo-2 {
    opacity: 0;
    pointer-events: none;
}

.logo-2.show {
    opacity: 1;
}

.logo-1.fade {
    opacity: 0;
}


.dropdown-container {
    width: 100%;
    background: var(--base-bg-color);
    height: 0px;                 
    transform: translateY(-510px); 
    overflow: hidden;
    transition: height 0.8s ease;

    padding: 0 35px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 35px;

    position: relative;
    box-sizing: border-box;
    z-index: 2;
}

.dropdown-container.open {
    height: 510px;   
    transform: translateY(0); 
}

.dropdown-container.hide {
    height: -510px;   
    transform: translateY(0); 
}

.menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity .35s ease;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 19px;
    padding-bottom: 51px;
    padding-right: 70px;
    box-sizing: border-box;
}

.menu.show {
    opacity: 1;
    pointer-events: auto;
}


.produkty,
.technologia-cls,
.vizia,
.contact,
.blog,
.faq {
    position: relative;
}

.vizia::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -36%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

.produkty::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -20%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

.svg-1 {
    position: absolute;
    right: -26%;
    top: 43%;
}

.svg-2 {
    position: absolute;
    right: -18%;
    top: 43%;
}

.technologia-cls::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -14%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

.faq::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -45%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

.blog::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -45%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}

.contact::before {
    position: absolute;
    content: "";
    top: 39%;
    left: -22%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
}


.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -166px;

}

.dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 19px;

}



header.hide {
    transform: translateY(-100%);
}


nav {
    max-width: 1240px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    position: relative;
    z-index: 4;

}

.nav-items {
    display: flex;
    gap: 15px;
    max-width: 735px;
}

.nav-item {
    display: flex;
    gap: 47.5px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0px 26px 0px 39px;
    border-radius: 30px;
    height: 45px;
    width: 565px;
    position: relative;
}



.lang-switch {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 22.41px;
    border-radius: 30px;

}

.nav-item a {
    padding: 12px 0;

}

.nav-item a,
.item a {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-root-color);
    text-decoration: none;
    position: relative;
}

.lang-sk {
    color: var(--font-root-color);
}

.lang-en {
    color: var(--font-secondary-color) !important;
}




.menu-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    z-index: -2;
    padding: 25.5px 22.05px;
    box-sizing: border-box;
    background-color: var(--font-secondary-color);
    border-radius: 10px;
}

.bg-blue {
    background-color: var(--primary-bg-color);
}

.bg-yellow {
    background-color: var(--font-base-color);
}

.menu-subtitle {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 18px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    text-transform: uppercase;
    color: var(--font-root-color);
}

.menu-title {
    color: var(--font-root-color);
    font-family: var(--font-articulate);
    font-weight: 500;

    font-size: 25px;

    line-height: 120%;
    letter-spacing: 0em;
    max-width: 283.89px;
    text-transform: capitalize;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper {
    max-width: 328px;
    max-height: 260px;
    text-decoration: none;
}





/* Hero */
.hero {
    background-image: url(./assets/bfdaa435122a1c5021e68bd53db6e3a8657c4f51.png);
    height: calc(100vh + 90px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -90px;

}

.hero-container {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}

.title-div {
    display: flex;
    align-items: flex-start;
    height: 199px;
}

.hero-title {
    font-family: var(--font-articulate);
    font-weight: 600;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: var(--font-base-color);
    max-width: 368px;
}

.hero-para {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    color: #FFFFFF;
    max-width: 350px;
}

.hero-btn {
    align-items: flex-start;
    height: 199px;

    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-right: 50px;
}

.btn {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-root-color);
    background-color: var(--font-base-color);
    text-decoration: none;
    border-radius: 30px;
    padding: 14.5px 30px 14.5px 47.5px;
}

.btn-alt::backdrop {
    display: none;
}

.btn::before {
    position: absolute;
    content: "";
    top: 40%;
    left: 7%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
}

.tag::before {
    position: absolute;
    content: "";
    top: 43%;
    left: 69%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.tag::after {
    position: absolute;
    content: "";
    top: 77%;
    left: 69%;
    width: 112px;
    height: 1px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transform: scaleX(1);
    transform-origin: 0 0 1; 
}

.tag::after {
    position: absolute;
    content: "";
    top: 77%;
    left: 69%;
    width: 112px;
    height: 1px;
    background-color: #FFFFFF;
    transform: scaleX(1);
    transform-origin: left center;
    animation: disappear-reappear-out 0.8s ease forwards;
}

/* .tag:hover::after {
    animation: disappear-reappear-in 0.8s ease forwards;
} */

/* @keyframes disappear-reappear-in {
    0% {
        transform: scaleX(1);
        transform-origin: right center;
    }
    30% {
        transform: scaleX(0);
        transform-origin: right center;
    }
    31% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    70%, 100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
} */


/* @keyframes disappear-reappear-out {
    0% {
        transform: scaleX(1);
        transform-origin: left center;
    }
    30% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    31% {
        transform: scaleX(0);
        transform-origin: right center;
    }
    70%, 100% {
        transform: scaleX(1);
        transform-origin: right center;
    }
} */

.btn-divs {
    display: flex;
    gap: 58px;
    align-items: center;
    position: relative;
}

.tag {
    text-decoration: none;
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-underline-offset: 4px;
}

/* Efectiv */
.efectiv-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 70px 100px 90px 100px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: flex-start;
}

.btn-div {
    display: flex;
    gap: 10px;
    align-items: center;
}


.btn-div button {
    background: transparent;
    border: 1px solid #A5C4FF;
    border-radius: 50%;
    padding: 8px 16.5px;
    color: var(--primary-bg-color);
    width: 40px;
    height: 40px;
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-div button.active,
.btn-div button:hover {
    background: var(--primary-bg-color);
    color: white;
}



.scroll-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: transform 0.5s ease;
}

.scroll-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    transition: all .2s ease-in-out;

}

.scroll-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 125px;
    min-width: 100%;
    box-sizing: border-box;

}

.scroll-card.active {
    display: flex;

}

.scroll-title {
    max-width: 715px;
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-size: 40px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);
}



.scroll-content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nasa-description {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);
}

.read-more {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-secondary-size);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-underline-offset: 4px;
    position: relative;
    color: var(--font-root-color);
    margin-left: 4%;
    text-decoration: none;
}

.read-more::after {
    position: absolute;
    content: "";
    top: 90%;
    left: -4%;
    width: 132px;
    height: 1px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    animation: disappear-reappear-out 2s ease forwards;
}
.read-more:hover::after {
    animation: disappear-reappear-in 0.8s ease forwards;
}

.read-more::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: -4%;
    top: 33%;
}





/* Carousel */
.infinity {
    background-color: var(--base-bg-color);
}

.nasa-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 35px 67.5px 35px;
}

.nasa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47.5px 65px 70px 65px;
}

.nasa-p {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-root-color);

}

.pre {
    display: flex;
    align-items: center;
    gap: 200px;
}

.pre-c {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: var(--font-third-size);
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0%;
    color: var(--font-root-color);

}

.pre-a {
    text-decoration: none;
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-third-size);
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0%;
    color: var(--font-root-color);
    text-underline-offset: 4px;
    position: relative;
}

.pre-a::before {
    position: absolute;
    content: "";
    top: 32%;
    left: -7%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);

}

.pre-a::after {
    position: absolute;
    content: "";
    top: 102%;
    left: -7%;
    width: 169px;
    height: 1px;
    background-color: var(--font-root-color);
 
    animation: disappear-reappear-out 0.8s ease forwards;


}

.pre-a:hover::after {
    animation: disappear-reappear-in 0.8s ease forwards;
}


.card {
    padding: 25px 34.5px;
    background-color: #FFFFFF;
    width: 207px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
}

.carosel {
    display: flex;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;

}

.group {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 25px;
    animation: scroll 30s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* Leaf */
.leaf-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 50px 35px 71px 35px;
}

.leafy-title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px 20px 65px;
}

.leafy-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 504px;
}

.leaf-title {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 18px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-root-color);

}

.leafy {
    text-decoration: none;
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    color: var(--font-root-color);
    position: relative;
    text-underline-offset: 5px;
    padding-left: 15px;
}

.mission-link {
    text-decoration: none;
    position: relative;
}

.mission-link::before {
    position: absolute;
    content: "";
    top: 36%;
    left: -11%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);

}

.mission-link::after {
    position: absolute;
    content: "";
    top: 101%;
    left: -10%;
    width: 92px;
    height: 1px;
    background-color: var(--font-root-color);
    animation: disappear-reappear-out 0.8s ease forwards;
}

.mission-link:hover::after {
    animation: disappear-reappear-in 0.8s ease forwards;
}


.leafy-2::before {
    position: absolute;
    content: "";
    top: 30%;
    left: -10%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);
}

.leafy-2 a::after {
    position: absolute;
    content: "";
    top: 92%;
    left: -10%;
    width: 125px;
    height: 1px;
    background-color: var(--font-root-color);
    animation: disappear-reappear-out 0.8s ease forwards;
}

.leafy-2 a:hover::after{
    animation: disappear-reappear-in 0.8s ease forwards;
}


.leafy a {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    color: var(--font-root-color);
    text-underline-offset: 4px;
}

.leaf-div {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaf-img {
    max-width: 633px;
    max-height: 633px;
    margin: 0 auto;
}

.pestu {
    font-family: var(--font-articulate);
    font-weight: 600;
    font-size: var(--font-large-size);
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 863px;
}

.vdaka {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0%;
    text-align: center;
    color: var(--font-root-color);
    max-width: 715px;
    margin-top: 50px;
    margin-bottom: 45px;
}

.zistit {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-secondary-size);
    line-height: 140%;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 14.5px 30px 14.5px 47px;
    text-decoration: none;
    background-color: var(--primary-bg-color);
    border-radius: 30px;
    color: var(--font-root-color);
    position: relative;
}

.zistit::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: 14%;
    top: 40%;
}

.leaf-img-div {
    position: relative;
}

.regenerate {
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-size: 25px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    text-align: right;
    color: var(--font-root-color);
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.regenerate-item-1 {
    position: absolute;
    top: 15%;
    left: -6%;
    animation-delay: 0.3s;
}

.regenerate-item-1::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    right: -11%;
    top: 30%;
}

.regenerate-item-2 {
    position: absolute;
    top: 27%;
    right: -4%;
    animation-delay: 0.6s;
}

.regenerate-item-2::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: -11%;
    top: 30%;
}

.regenerate-item-3 {
    position: absolute;
    bottom: 24%;
    right: 4%;
    animation-delay: 0.9s;
}

.regenerate-item-3::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: -11%;
    top: 30%;
}

/* 24ton */
.content-div {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.twenty-four-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 50px 35px 74px 35px;
}

.leafy-title-div-2 {
    padding: 0 0px 20px 0px;
}

.twenty-four {
    padding: 0 65px;
}

.btn-v1 {
    background-color: var(--font-base-color);
}

.img-content-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-seventy {
    padding-left: 70px;
    padding-bottom: 70px;
    padding-top: 34px;
    width: 540px;
    height: 540px;
}

.arrow {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.1);

}

.seventy {
    font-family: var(--font-articulate);
    font-weight: 600;
    font-size: 120px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0%;
    color: var(--font-root-color);
}

.parca {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);
    max-width: 350px;
    margin-top: 5px;

}

.arrow-btn-div {
    position: relative;
    display: flex;
    gap: 120px;
}


.arrow-div {
    position: absolute;
    bottom: 26.5%;

    width: 1240px;
    left: 0;
    right: 0px;
    margin: 0 auto;

    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.tech-link {
    text-decoration: none;
    position: relative;
}

.tech-link::before {
    position: absolute;
    content: "";
    top: 34%;
    left: -11%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);

}

.tech-link::after {
    position: absolute;
    content: "";
    top: 101%;
    left: -10%;
    width: 106px;
    height: 1px;
    background-color: var(--font-root-color);
    animation: disappear-reappear-out 0.8s ease forwards;
}

.tech-link:hover::after{
    animation: disappear-reappear-in 0.8s ease forwards;
}



.cust-bullet {
    position: absolute;
    bottom: 5%;
    width: 1240px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}





.scroll-container-3 {
    background-color: var(--primary-bg-color);
    width: 100%;
}

.bg-slide-green {
    background-color: var(--font-secondary-color);
}

.bg-slide-lime {
    background-color: var(--font-base-color);
}

.bg-slide-green-alt {
    background-color: var(--font-secondary-color);
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);
}

.bullet.active {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: translateY(-18%);
}

.scroll-container-main-3 {
    overflow: hidden;
    width: 100vw;
    position: relative;
}



.scroll-container-3 {
    width: 100vw;
    flex-shrink: 0;
}

.scrol-track-3-main {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slide-track {
    display: flex;
    transition: transform 0.5s ease;
}

.scroll-container-3 {
    flex: 0 0 100vw;
}

.btn-v1,
.btn-v3,
.btn-v4 {
    background-color: #FFFFFF;

}

.btn-v2 {
    background-color: var(--font-root-color);
    color: var(--font-base-color);
}

.btn-v2::before {
    background-color: var(--font-base-color);
}





/* Technologia */
.technologia {

    background: var(--base-bg-color);
}

.technologia-container {
    max-width: 1240px;
    padding: 70px 100px 0 100px;
    margin: 0 auto;
}


.tech-scroll-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: transform 0.5s ease;
}

.tech-scroll-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}


.tech-card-title {
    max-width: 715px;
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-size: 40px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);

    transition: all .10s ease-in-out;
}

.tech-btn-wrap {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding-bottom: 90.5px;
}

.tech-switch-btn {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-secondary-size);
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-root-color);
    background: transparent;
    border-radius: 30px;
    border: 1px solid #38332E;
    padding: 14.5px 29px;
    cursor: pointer;
}

.tech-switch-btn.active,
.tech-switch-btn:hover {
    background-color: var(--font-root-color);
    color: #FFFFFF;
}

.tech-btn-container {
    display: flex;
    gap: 45px;
    align-items: center;
}

.how-link {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-secondary-size);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-underline-offset: 4px;
    position: relative;
    color: var(--font-root-color);
    margin-left: 4%;
    text-decoration: none;
}

.how-link::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: -16%;
    top: 33%;
}
.how-link::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--font-root-color);
    position: absolute;
    left: -16%;
    top: 97%;
    animation: disappear-reappear-out 0.8s ease forwards;
}

.how-link:hover::after {
    animation: disappear-reappear-in 0.8s ease forwards;
}


.ag-vel {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: flex-start;
}

.ag-label {
    color: var(--font-root-color) !important;
    width: 150px;
}

.vel-label {
    width: 444px;
    text-align: right;
    color: var(--font-root-color) !important;
}


.tech-scroll-card {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 150px;
    justify-content: space-between;
}

/* Vegetable */
.vegetable {
    max-width: 1240px;
    margin: 0 auto;
    padding: 70px 100px 53px 100px;
}

.veg-image {
    position: relative;
    width: 610px;
    height: 659px;
}

.veg-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 455px;
    height: 510px;
    object-fit: contain;
    display: none;
    margin-top: 15%;
}


.head-veg {
    position: relative;
}

.head-veg::before {
    content: "";
    position: absolute;
    bottom: 423px;
    left: 0;
    width: 100%;
    max-width: 505px;
    height: 1px;
    background-color: var(--font-root-color);
    opacity: 1;
}




.veg-container {
    display: flex;
    gap: 125px;
    padding-top: 115px;
    justify-content: space-between;
}

.veg-scroll-container {
    display: flex;
    flex-direction: column;
    gap: 53px;
    width: 505px;
    text-align: start;
    overflow: hidden;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
    position: relative;
}



.veg-scroll {
    height: 450px;
    display: flex;

    gap: 30px;
    flex-direction: column;
    transition: transform 0.3s ease;


}

.scroll-name {
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 30px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    text-transform: uppercase;
    max-width: 233px;
    color: var(--font-root-color);
    margin-bottom: 53px;
}

.veg-scroll .swiper-slide {
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-style: Medium;
    font-size: 40px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0;
    height: 50px;
}


.veg-content {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-end;
    justify-content: flex-end;
}

.veg-content-con {
    width: 505px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.veg-p {
    max-width: 336px;
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-line-height);
    font-style: Medium;
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);
}



.veg-image img.active {
    display: block;
}

.swiper {
    height: 450px;
    margin: 0 !important;
}

.swiper-wrapper {
    flex-direction: column;

}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
    color: var(--font-secondary-color);


}

.swiper-slide.active {
    width: 100%;

    color: var(--font-root-color);
    position: relative;

    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-style: Medium;
    font-size: 40px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0;
}





.vype {
    display: flex;
    flex-direction: column;
    padding-top: 69px;
    gap: 45px;
}

.vype-text {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-style: Medium;
    font-size: var(--font-third-size);
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0;
    color: var(--font-root-color);
    max-width: 336px;
}

.leafy-3::before {
    position: absolute;
    content: "";
    top: 30%;
    left: 0%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-root-color);
}

.leafy-3::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0%;
    width: 125px;
    height: 1px;
    background-color: var(--font-root-color);
}


/* Potato */
.potato {
    background-image: url('assets/1c06c8aadc3cc841d4f8a57d918f468d610df3c2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    position: relative; 
    transition: background-position 0.3s linear;
}

.potato-container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 70px 100px;
}

.header-flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag-1::before {
    position: absolute;
    content: "";
    top: 44%;
    left: 64%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.tag-1::after {
    position: absolute;
    content: "";
    top: 77%;
    left: 64%;
    width: 112px;
    height: 1px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.agrokruh {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 18px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-base-color);
}

.velka {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0%;
    vertical-align: bottom;
    color: var(--font-base-color);
    width: 400px;
}

.tech {
    font-family: var(--font-articulate);
    font-weight: var(--font-secondary-weight);
    font-size: 40px;
    line-height: var(--font-base-line-height);
    letter-spacing: 0%;
    color: var(--font-base-color);
    max-width: 400px;
}
.para-div{
    display: grid;
    gap: 45px;
    max-width: 400px;
    justify-self: right;
    margin-left: auto;
}

.para {
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0%;
    color: var(--font-base-color);
    max-width: 350px;
    text-align: left;
    justify-self: right;
}
.btns{
    justify-self: left;
    text-align: left;
}

.potato-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 45px;
    padding-right: 50px;
}

.btn-group-potato {
    padding-right: 42px !important;
}




/* Footer */
footer {
    background-color: var(--secondary-bg-color);
}

.footer-container {
    padding: 120px 100px 76px 100px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-col h6 {
    font-size: 18px !important;
    margin-bottom: 5px;
    line-height: var(--font-base-line-height);
    text-transform: uppercase;

}

.footer-col a {
    text-decoration: none;
    color: var(--font-base-color);
    font-weight: 500;
    font-family: var(--font-manrope);
    line-height: var(--font-secondary-line-height);
    letter-spacing: 0em;

}

.footer-2 {
    display: flex;
    justify-content: space-between;

}

.text-div {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.text {
    padding: 17.5px 15px 17.5px 25px;
    border-radius: 30px;
    border: none;
    width: 153px;
    background-color: var(--base-bg-color);
}

.text::placeholder {
    color: var(--font-primary-color);
    font-family: var(--font-manrope);
    font-weight: var(--font-secondary-weight);
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
}

.text-1 {
    width: 257px !important;
}

.text-2 {
    width: 357px !important;
}

.input-wrap {
    position: relative;
    max-width: 505px;
    margin-bottom: 20px;
}

.send-btn {
    position: absolute;
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--font-root-color);
    padding: 14.5px 30px 14.5px 47px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-bg-color);
    max-width: 158px;
    right: 0%;
    cursor: pointer;
}

.send-btn::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
    position: absolute;
    left: 15%;
    top: 40%;
}

.terms-check {
    display: flex;
    gap: 15px;
    align-items: start;
}


.checkbox {
    display: none;
}


.custom-bullet {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--font-secondary-color);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
}


.checkbox:checked+.custom-bullet::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--font-root-color);
}



.terms {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0%;
    color: var(--font-secondary-color);
    max-width: 464px;
}

.terms a {
    color: var(--font-secondary-color);
    text-underline-offset: 4px;
}

.footer-news h4 {
    font-family: var(--font-articulate);
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--font-base-color);
    margin-bottom: 30px;

}

.footer-news-content {
    text-align: right;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 73px;
}

.icons-div {
    display: flex;
    text-align: right;
    gap: 70px;
}

.icons {
    display: flex;
    gap: 7px;
}

.icons a {
    width: 40.4px;
    height: 40px;
    background: var(--font-base-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sk-en {
    display: flex;
    gap: 10px;
}

.sk {
    text-decoration: none;
    font-family: var(--font-articulate);
    font-weight: 500;
    font-style: Medium;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--font-base-color);
}

.en {
    color: var(--font-secondary-color);
}

.footer-brand-wrap {
    display: flex;
    flex-direction: column;
    gap: 6.44px;
}

.copyright {
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0%;
    text-align: right;
    color: var(--font-base-color);
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 9.55px;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom a {
    text-decoration: none;
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: var(--font-base-size);
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--font-secondary-color);
    position: relative;
    text-underline-offset: 4px;
    
}

.footer-bottom a::after {
    content: "";
    width: 112%;
    height: 1px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
    position: absolute;
    left: -10%;
    top: 101%;
    animation: disappear-reappear-out 2s ease forwards;
}

.footer-bottom a:hover::after{
    animation: disappear-reappear-in 2s ease forwards;
}


.footer-bottom a::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--font-secondary-color);
    position: absolute;
    left: -10%;
    top: 33%;
}









